h1{
    font-size: 48px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px 15px;
}

.container{
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
    padding: 5px 5px;
    border-style: groove;
    border-color: black;
    border-width: 1px;
}

nav{
    display: inline-block;
    margin: 10px 10px;
    width: 97%;
    text-align: center;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    background-color: deepskyblue;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    width: 25%;
    margin: 0 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

