h1{
    font-size: 48px;
    margin: 15px 15px;
}

.container{
    width: 80%;
    margin: 0 auto;
    background-color: aqua;
}

nav{
    display: inline-block;
    margin: 10px 10px;
}

nav a{
    margin: 50px 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    width: 25%;
}

